<h3>დამატებული კითხვები</h3>
<form [formGroup]="questionsForm">
  <div formArrayName="questions">
    <div class="form" *ngFor="let question of questionsFormArray.controls; let i = index" [formGroupName]="i">
        <div class="inputText">
          <label for="Question{{i}}">კითხვა</label>
          <input pInputText id="Question{{i}}" formControlName="question" />
        </div>
        
        <div formArrayName="answers">
          <div *ngFor="let answer of getAnswersFormArray(i).controls; let j = index" [formGroupName]="j">
            <div class="inputText">
              <label for="Answer{{i}}{{j}}">პასუხი</label>
              <input pInputText id="Answer{{i}}{{j}}" formControlName="answer" />
            </div>
            <div class="checkbox-container">
              <label for="correct{{i}}{{j}}">სწორი</label>
              <input type="checkbox" id="correct{{i}}{{j}}" formControlName="correct" />
            </div>
          </div>
        </div>
        <div class="addAnswer">
        <button class="add-question" (click)="addAnswer(i)">+</button> 
        </div>
        <div class="checkbox-button">
          <div class="checkbox-container">
            <label for="important{{i}}">სავალდებულო</label>
            <input type="checkbox" id="important{{i}}" formControlName="important" />
          </div>
        </div>
        <button (click)="update(i)">რედაქტირება</button>
      </div>
  </div>
</form>
